<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="label-register">Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #f= "ngForm" (ngSubmit)="addNewUser()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="input-login">
              <input matInput placeholder="Username" name="username" [(ngModel)] = "user.username" required/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="input-login">
              <input matInput placeholder="Password"  type="password" name="password" [(ngModel)] = "user.password" required/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="input-login">
              <input matInput placeholder="Email"   type="email" name="email" [(ngModel)] = "user.email"  required/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-group name="role" [(ngModel)] = "user.role" #role="ngModel">
              <mat-radio-button value="student">Student</mat-radio-button>
              <mat-radio-button value="teacher">Teacher</mat-radio-button>
              <mat-radio-button value="admin">Administrator</mat-radio-button>
            </mat-radio-group>
          
          </td>
        </tr>
        <br>
        <br/>

      </table>
      <button mat-raised-button type="submit" color="primary" class="register-btn">Register</button>
    </form>
  </mat-card-content>
</mat-card>