.label-login {
  font-family: title;
  font-size: 45px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}

.example-card{
  -webkit-box-shadow: 2px 10px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 10px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 10px 18px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
}


.login-btn-cotainer{
  width: 80px;
  padding: 0px;
  margin: 0px;
  height: 36px;
}

.login-btn{
  width: 70px;
}

.input-login {
  width: 250px;
}